<div>
  <header class="Header">
    <app-logo ></app-logo>
    <!-- <Navigation>   --> 
      <app-navigation></app-navigation>
    <!--  </Navigation>   --> 
    <app-search-box ></app-search-box>
    <!--  <UserProfile>  -->
      <app-user-profile></app-user-profile>
    <!--*  </UserProfile>   -->
  </header>
  <app-hero></app-hero>
  <app-title-list 
    title="Search Results" 
    [movies]="searchResults" ></app-title-list>  
  <app-title-list 
    title="My Movies" 
    [movies]="myMovieList"></app-title-list>  
</div>


<router-outlet></router-outlet>